<% if (message[0]) { %>
<div class="flash-container-logout" id="flash-container-logout">
  <%= message %>
</div>
<script>
  setTimeout(function () {
    const flashContainer = document.getElementById("flash-container-logout");
    flashContainer.style.opacity = "0";

    // Wait for the fade-out transition to complete before hiding
    setTimeout(function () {
      flashContainer.style.display = "none";
    }, 350);
  }, 2000);
</script>
<% } %>
