<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar">
      <div class="home">Home</div>
      <div class="student">Student</div>
      <div class="v1">V1 Admin</div>
      <div class="v1">V2 Admin</div>
      <div class="v1">V3 Admin</div>
    </div>
  </body>
</html>
