<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Page Not Found</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icon/android-chrome-512x512.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icon/android-chrome-192x192.png"
    />
    <link rel="manifest" href="/icon/site.webmanifest" />
    <link rel="stylesheet" href="/css/error_404.css" />
  </head>
  <body>
    <div class="error-container">
      <div class="error-content">   
        <h1 class="error-code">404</h1>
        <p class="error-message">Oops! Page Not Found</p>
        <p class="error-description">
          Sorry, the page you are looking for might be in another galaxy.
        </p>
        <a href="/" class="error-link">Return to Home</a>
      </div>
      <div class="error-astronaut">
        <img src="error.webp" alt="Lost Astronaut" />
      </div>
    </div>
  </body>
</html>
