<%-include('partials/header')%>

    <title>Home</title>
    <script>
    window.onpageshow = function(event) {
            if (event.persisted) {
                window.location.reload();
            }
        };
  </script>
  </head>
  <body>
    <%-include('partials/navbar')%>
    <div class="heading_class"><h1 class="registration-header">Welcome to the Digital Registration System – Your Gateway to Easy Registration!</h1></div>
    
<div class="som">
  <div  id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" data-bs-interval="2500"> 
      <div class="carousel-item active">
        <img src="https://www.iiitp.ac.in/sites/default/files/styles/banner_image/public/2023-10/Banner%20Final%20Aw_Hindi-2_0_0.png?itok=rC1zNaoS" class="d-block w-90" alt="gov images"  >
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="https://www.iiitp.ac.in/sites/default/files/styles/banner_image/public/2023-08/NEP%20%281%29_0_0.jpg?itok=adn8WPr0" class="d-block w-90" alt="gov images"  >
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="https://www.iiitp.ac.in/sites/default/files/styles/banner_image/public/2023-08/amrit-banner_1.jpg?itok=RKPLqRrQ" class="d-block w-90" alt="gov images" >
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="https://www.iiitp.ac.in/sites/default/files/styles/banner_image/public/2023-10/20231013_123553%20%281%29.jpg?itok=53hpQyeS" class="d-block w-90" alt="gov images" >
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="https://www.iiitp.ac.in/sites/default/files/styles/banner_image/public/2023-10/20231013_124909%20%281%29_0.jpg?itok=AiDUgkA9" class="d-block w-90" alt="gov images" >
      </div> 
    <div class="carousel-item" data-bs-interval="2500">
      <img src="https://www.iiitp.ac.in/sites/default/files/styles/banner_image/public/2023-10/DSC_6666%20%281%29_0.jpg?itok=lH_wlGxa" class="d-block w-90" alt="gov images" >
    </div>
    <div class="carousel-item" data-bs-interval="2500">
      <img src="https://www.iiitp.ac.in/sites/default/files/styles/banner_image/public/2023-08/Post%20march%20past%20group%20picture%208.jpg?itok=MR1uaX_r" class="d-block w-90" alt="gov images" >
    </div>
    <div class="carousel-item" data-bs-interval="2500">
      <img src="https://www.iiitp.ac.in/sites/default/files/styles/banner_image/public/2023-08/Placement%281%29.png?itok=0eG9URHG" class="d-block w-90" alt="gov images" >
    </div>
   
    <div class="carousel-item" data-bs-interval="2500">
      <img src="https://www.iiitp.ac.in/sites/default/files/styles/banner_image/public/2023-10/20231013_131436%20%281%29_0.jpg?itok=MbSNscXX" class="d-block w-90" alt="gov images" >
    </div>
    <div class="carousel-item" data-bs-interval="2500">
      <img src="https://www.iiitp.ac.in/sites/default/files/styles/banner_image/public/2023-10/DSC_6643%20%284%29%20%282%29_0_0.png?itok=V1CxEJO5" class="d-block w-90" alt="gov images" >
    </div>
  </div>
  </div>
  </div>
</div>
<footer class="site-footer">
  <div class="container">
    <p class="content">Copyright © 2023 IIIT Pune. All rights reserved.</p>
    <%if(count){%>
    <p id="count_user">Live Users: <%= count %></p>
    <%}%>
  </div>
</footer>
    
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</html>
