<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icon/android-chrome-512x512.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icon/android-chrome-192x192.png"
    />
    <link rel="manifest" href="/icon/site.webmanifest" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <h1>Welcome to the IIIT Pune Registration System</h1>
      <p>Your one-stop solution for hassle-free registration</p>
    </header>
    <% if(_){ %>
    <div class="student_dashboard_div">
      <h2><a href="/dashboard">View <%=name%> DashBoard</a></h2>
    </div>
    <div class="admin_dashboard">
      <h2><a href="/v1">Login as V1 Admin</a></h2>
    </div>
    <div class="admin_dashboard">
      <h2><a href="/v1">Login as V2 Admin</a></h2>
    </div>
    <div class="admin_dashboard">
      <h2><a href="/v1">Login as V3 Admin</a></h2>
    </div>
    <div class="logout_div">
      <h1><a href="/logout">Logout</a></h1>
    </div>

    <%} else {%>
    <div class="button-container">
      <a href="/auth/google" class="google-button">
        <img src="google_logo.png" alt="Google Logo" class="google-logo" />
        Sign up with Google
      </a>
    </div>
    <%}%> <% if(_){%>
    <section class="btech-project">
      <h2>This is a part of our B-Tech Project</h2>
      <p>
        We're working on making the registration process better for IIIT Pune
        students as part of our Bachelor of Technology project.
      </p>
    </section>
    <%} else{%>
    <section class="btech-project2">
      <h2>This is a part of our B-Tech Project</h2>
      <p>
        We're working on making the registration process better for IIIT Pune
        students as part of our Bachelor of Technology project.
      </p>
    </section>
    <%}%>
  </body>
</html>
