<%-include('partials/header')%>

    <title>Home</title>
  </head>
  <body>
    <%-include('partials/navbar')%>

<div  id="carouselExampleSlidesOnly" class="carousel slide container-sm" data-bs-ride="carousel">
  <div class="carousel-inner" data-bs-interval="2000"> 
    <div class="carousel-item active">
      <img src="https://www.iiitp.ac.in/sites/default/files/styles/banner_image/public/2023-10/Banner%20Final%20Aw_Hindi-2_0_0.png?itok=rC1zNaoS" class="d-block w-100" alt="gov images" height="320px" width="650px" >
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://www.iiitp.ac.in/sites/default/files/styles/banner_image/public/2023-08/NEP%20%281%29_0_0.jpg?itok=adn8WPr0" class="d-block w-100" alt="gov images" height="320px" width="650px" >
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://www.iiitp.ac.in/sites/default/files/styles/banner_image/public/2023-08/amrit-banner_1.jpg?itok=RKPLqRrQ" class="d-block w-100" alt="gov images" height="320px" width="650px">
    </div>
  </div>
</div>
    <%-include('partials/footer')%>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</html>
