<%-include('partials/header')%>
    <title>Login</title>
    <script>
      window.onpageshow = function(event) {
              if (event.persisted) {
                  window.location.reload();
              }
          };
    </script>
  </head>
  <style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: "Montserrat", sans-serif;
}

.form-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.form-container > * {
  margin-bottom: 10px;
}

  </style>
  <body>
    <%-include('partials/navbar')%>
    <div class="form-container">
      <h1 class="header">Login</h1>
      <form method="POST" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Login</button>
      </form>
    </div>
    
    <%-include('partials/footer')%>
  </body>
</html>
