<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/public/icon/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/logout.css" />
    <title>Logout</title>
  </head>
  <body>
    <h1>Are You sure you want to logout</h1>
    <form action="/logout" method="post">
      <button>Yes</button>
    </form>
    <form action="/" method="get">
      <button>No</button>
    </form>
  </body>
</html>
