<%-include('partials/header')%>
    <link rel="stylesheet" href="/css/logout.css" />
    <title>Logout</title>
  </head>
  <%-include('partials/navbar')%>
  <body>
    <h1>Are you sure you want to logout?</h1>
    <form action="/logout" method="post">
      <button>Yes</button>
    </form>
    <form action=<%=noAnswer%> method="get">
      <button>No</button>
    </form>
  </body>
  <%-include('partials/footer')%>
</html>
