<%-include('partials/header')%>
    <link rel="stylesheet" href="/css/logout.css" />
    <title>Logout</title>
    <script>
      window.onpageshow = function(event) {
              if (event.persisted) {
                  window.location.reload();
              }
          };
    </script>
  </head>
  <body>
    <%-include('partials/navbar')%>
    <div class="upper_logout_c">  <div class="logout-container">
      <h1>Are you sure you want to logout?</h1>
      <form action="/logout" method="post" class="logout-form">
        <button class="logout-button">Yes</button>
      </form>
      <a href="<%= noAnswer %>" class="cancel-link">No</a>
    </div></div>
  
    <%-include('partials/footer')%>
  </body>
</html>
