<%-include('partials/header')%>
    <title>Registration Guide</title>
    <style>
      body {
        font-family: "Montserrat", sans-serif;
        text-align: center;
        background-color: #f0f0f0;
    
      }
      .guide-container {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 70px;
        margin-bottom: 70px;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
      }
      .step {
        margin: 20px 0;
        text-align: left;
      }
      .step-number {
        font-size: 24px;
        color: #007bff;
      }
      .step-description {
        font-size: 18px;
      }
      .note {
        font-size: 16px;
        color: #888;
      }
      .email {
        font-size: 16px;
        color: #007bff;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <%-include('partials/navbar')%>
    <div class="guide-container">
      <h1>Student Registration Guide</h1>
      <div class="step">
        <span class="step-number">Step 1:</span>
        <span class="step-description"
          >Fill all the details properly and carefully in the registration
          form.</span
        >
      </div>
      <div class="step">
        <span class="step-number">Step 2:</span>
        <span class="step-description"
          >Once the form is filled, kindly wait for 1-2 days for
          processing.</span
        >
      </div>
      <div class="step">
        <span class="step-number">Step 3:</span>
        <span class="step-description"
          >Between that period, keep checking your registration status.</span
        >
      </div>
      <div class="step">
        <span class="step-number">Step 4:</span>
        <span class="step-description"
          >If any of the verifications (v1, v2, v3) are unsuccessful, you will
          be displayed a message explaining the reason for the unsuccessful
          registration.</span
        >
      </div>
      <div class="step">
        <span class="step-number">Step 5:</span>
        <span class="step-description"
          >If your v1, v2, or v3 verification fails, you can resubmit the
          registration form and start the process again.</span
        >
      </div>
      <div class="step">
        <span class="step-number">Step 6:</span>
        <span class="step-description"
          >If you are facing any technical issues, kindly mail to
          <a class="email" href="mailto:8fd9k.test@inbox.testmail.app"
            >8fd9k.test@inbox.testmail.app</a
          >.</span
        >
      </div>
      <p class="note">
        Note: Please follow these steps carefully for a smooth registration
        process.
      </p>
    </div>
    <%-include('partials/footer')%>
  </body>
</html>
