<%-include('partials/header')%>
<link rel="stylesheet" href="/css/student_dashboard.css">
    <title>Dashboard</title>
  </head>
  <body>
    <%-include('partials/navbar')%>
    <p class="heading"><%=name%> Dashboard</p>
    <div class="option">    <a href="/student/register"><h2>Register for this semester</h2></a>
      <a href="/student/status"><h2>Show Registration Status</h2></a>
  
      <a href="/student/profile"><h2>User Profile</h2></a>
  
      <a href="/student/how_to_register">
        
          <h2>Registration Guide</h2>
       </a
      ></div>

    <%-include('partials/footer')%>
  </body>
</html>
