<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Page</title>
  </head>
  <body>
    <h1>This is a test Document</h1>
    <h1><a href="/auth/google">Login/Sign Up with google</a></h1>
  </body>
</html>
