<%-include('partials/header')%>
<link rel="stylesheet" href="/css/student_dashboard.css">
    <title>V1 | Dashboard</title>
  </head>
  <body>
    <%-include('partials/navbar')%>
    <h1 class="heading">Welcome to Admin-1 Dashboard</h1>
    <div id="student_id">  <div class="option">
      <a href="/v1"><h1>Pending Verifications</h1></a>
      <a href="/v1_dashboard/verified"><h1>Students Verified</h1></a>
      <a href="/v1_dashboard/rejected"><h1>Students Rejected</h1></a>
      <a href="/v1_dashboard/stastics"><h1>Overall Statistics</h1></a>
    </div></div>
  
    <%-include('partials/footer')%>
  </body>
</html>
