<!DOCTYPE html>
<html>
  <head>
    <title>Rejected vs V1 Verified</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <style>
    h1 {
      text-align: center;
      margin-bottom: 50px;
      margin-top: 50px;
    }
  </style>
  <body>
    <h1>Rejected/Verified Ratio = <%=(rejected)/(verified)%></h1>
    <canvas id="studentChart" width="500" height="150"></canvas>

    <script>

      const registrations = <%- JSON.stringify(rejected) %>;
      const verifications = <%- JSON.stringify(verified) %>;

      const ctx = document.getElementById('studentChart').getContext('2d');
      const chart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Rejected', 'V1 Verified'],
              datasets: [
                  {
                    label: 'Count of Student Rejected for V1 Registration vs Count of Student Whose Verification 1 is Verified',
                      data: [registrations, verifications],
                      backgroundColor: ['red', 'green'],
                  },
              ],
          },
      });
    </script>
  </body>
</html>
