<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reason for Not Verifying Student</title>
  </head>
  <body>
    <h1>Reason for Not Verifying <%= username %></h1>
    <form action="/v1/<%=googleId%>/fail" method="POST">
      <label for="reason">Reason</label>
      <textarea
        id="reason"
        name="reason"
        rows="4"
        cols="50"
        required
      ></textarea>
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
