<%-include('partials/header')%>
    <link rel="stylesheet" href="/css/v1_student_fail.css" />
    <title>Verification 1 failed</title>
  </head>
  <body>
    <%-include('partials/navbar')%>
    <div class="sub_class"> <div class="fail">
      <h1>Verification 1 has failed</h1>
    </div>
    <div class="reason">
      <h2>Reason</h2>
      <h2><em><%= v1_status %></em></h2>
    </div>
    <div class="restart">
      <h3>Do you want to fill the form again and restart the process?</h3>
    </div>

    <form action="/dashboard/fail" method="post">
      <button name="ans" value="yes">Yes</button>
      <button name="ans" value="no">No</button>
    </form></div>
   <%-include('partials/footer')%>
  </body>
</html>
