<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verification Status</title>
  </head>
  <body>
    <h1>Verification 1 has failed</h1>
    <h2>Reason for failure: <%= v1_status %></h2>
    <h3>Do you want to fill the form again and restart the process?</h3>
    <form action="/dashboard/fail" method="post">
      <button name="ans" value="yes">Yes</button>
      <button name="ans" value="no">No</button>
    </form>
  </body>
</html>
