<%-include('partials/header')%>
<link rel="stylesheet" href="/css/student_dashboard.css">
    <title>V2 | Dashboard</title>
  </head>
  <body>
    <%-include('partials/navbar')%>
    <h1 class="heading">Welcome to Admin-2 Dashboard</h1>
    <div class="option">
      <a href="/v2"><h1>Pending Verifications</h1></a>
      <a href="/v2_dashboard/verified"><h1>Students Verified</h1></a>
      <a href="/v2_dashboard/rejected"><h1>Students Rejected</h1></a>
      <a href="/v2_dashboard/stastics"><h1>Overall Statistics</h1></a>
    </div>
    <%-include('partials/footer')%>
  </body>
</html>
