<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>V3 ADMIN DASHBOARD</h1>
    <%for(let i of data){%> <%if(i.verification2===true){%>
    <li><%=i.username%></li>
    <%}%> <%}%>
  </body>
</html>
