<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>V3 | Dashboard</title>
  </head>
  <body>
    <h1>Welcome to V3 Dashboard</h1>
    <a href="/v3"><h1>Pending Verifications</h1></a>
    <a href="/v3_dashboard/verified"><h1>Students Verified</h1></a>
    <a href="/v3_dashboard/rejected"><h1>Students Rejected</h1></a>
    <a href="/v3_dashboard/stastics"><h1>Overall Statistics</h1></a>
  </body>
</html>
