<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icon/android-chrome-512x512.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icon/android-chrome-192x192.png"
    />
    <link rel="manifest" href="/icon/site.webmanifest" />
    <link rel="stylesheet" href="/css/v1_fail.css" />
    <title>Reason for Not Verifying V3 Verification</title>
  </head>
  <body>
    <div class="reason"><h1>Reason for Not Verifying <%= username %></h1></div>

    <form action="/v3/<%=googleId%>/fail" method="POST">
      <label for="reason">Reason</label>
      <textarea
        id="reason"
        name="reason"
        rows="4"
        cols="50"
        required
      ></textarea>
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
