<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verification</title>
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon" />
    <link rel="icon" sizes="192x192" href="/icon/android-chrome-192x192.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Lato:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/verification.css" />
  </head>
  <body>
    <h1><em>Verification Status</em></h1>
    <% if(v1){ %>
    <h2 class="successful">Verification 1 Successful</h2>
    <%} else{ %>
    <h2 class="pending">Verification 1 Pending</h2>
    <%}%> <% if(v2){ %>
    <h2 class="successful">Verification 2 Successful</h2>
    <%} else{ %>
    <h2 class="pending">Verification 2 Pending</h2>
    <%}%> <% if(v3){ %>
    <h2 class="successful">Verification 3 Successful</h2>
    <%} else{ %>
    <h2 class="pending">Verification 3 Pending</h2>
    <%}%>
    <div class="logout_div">
      <h1><a href="/logout">Logout</a></h1>
    </div>
  </body>
</html>
