 
 <%-include('partials/header')%>
 <link
 href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Montserrat:wght@300&display=swap"
 rel="stylesheet"
/>
 <link rel="stylesheet" href="/css/verification.css" />
 <script>
  window.onpageshow = function(event) {
          if (event.persisted) {
              window.location.reload();
          }
      };
</script>
  </head>
  <body>
    <%-include('partials/navbar')%>
    <%-include('partials/flash_login_message')%>
    <h1 class="top">Verification Status</h1>
    <% if(v1){ %>
    <div class="v1">
      <h2 class="successful">Verification 1 Successful</h2>
      <%} else{ %>
      <h2 class="pending">Verification 1 Pending</h2>
    </div>
    <%}%> <% if(v2){ %>
    <div class="v2">
      <h2 class="successful">Verification 2 Successful</h2>
      <%} else{ %>
      <h2 class="pending">Verification 2 Pending</h2>
    </div>
    <%}%> <% if(v3){ %>
    <div class="v3" >
      <h2 class="successful">Verification 3 Successful</h2>
      <%} else{ %>
      <h2 class="pending">Verification 3 Pending</h2>
    </div>
    <%}%>
    <%-include('partials/footer')%>
  </body>
</html>
