body {
  background-color: #f5f5f5;
  text-align: center;
}

h1 {
  padding: 10px;
  font-size: 24px;
  color: #333;
  font-weight: bold;
  margin-top: 190px;
  margin-bottom: 10px;
}

form {
  display: inline-block;
  margin: 0 10px;
}

button {
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
}

button:hover {
  background-color: #357ae8;
}

.button-container {
  text-align: center;
}
footer {
  margin-top: 300px;
}
