.upper_logout_c {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 165px;
}

.logout-container {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

h1 {
  font-size: 1.5rem;
}

.logout-form {
  margin-top: 20px;
}

.logout-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #0056b3;
}

.cancel-link {
  text-decoration: none;
  color: #007bff;
  margin-top: 10px;
  display: block;
  font-size: 0.9rem;
}

.cancel-link:hover {
  text-decoration: underline;
}
footer {
  margin-top: 165px;
}
