body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
}
/* hiding scrollbar */
::-webkit-scrollbar {
  width: 0em;
}
/* hiding scrollbar */

.site-footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.site-footer p {
  margin: 0;
}
#carouselExampleSlidesOnly {
  margin-top: 50px;
  margin-bottom: 105px;
  width: 700px;
}
.registration-header {
  font-family: "Montserrat", sans-serif;
  color: #336699;
  text-align: center;
  font-size: 29px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.heading_class {
  display: flex;
  justify-content: center;
  align-items: center;
}
.som {
  display: flex;
  justify-content: center;
  align-items: center;
}
