body,
h1,
label,
textarea,
input {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 100px;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.reason {
  background-color: #ee0000;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  width: 80%;
  max-width: 500px;
}

.reason h1 {
  font-size: 24px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  width: 80%;
  max-width: 500px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

textarea {
  width: 100%;

  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #ff2200;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
