body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #f5f5f5;
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 30px;
}

h2 {
  display: block;
  width: 800px;
  font-size: 24px;
  margin: 20px auto;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  font-family: "Lato", Arial, sans-serif;
}

h2.successful {
  background-color: #4caf50;
  color: #fff;
  border-color: #4caf50;
}

h2.pending {
  background-color: #f35714;
  color: #fff;
  border-color: #ef2913f0;
}
.logout_div {
  text-align: center;
  margin: 80px auto;
  width: 60%;
}

.logout_div h1 a {
  background-color: #f44336;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.logout_div h1 a:hover {
  background-color: #d32f2f;
}
