body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #f5f5f5;
  text-align: center;
  margin: 20px;
}

h1 {
  font-size: 40px;
  color: #000000;
  margin: 20px 0;
}

h2 {
  font-size: 24px;
  margin: 20px auto;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.747);
  max-width: 70%;
}

h1,
h2 {
  font-family: "Open Sans", Arial, sans-serif;
}

h2.successful {
  background-color: #4caf50;
  color: #fff;
  border-color: #4caf50;
}

h2.pending {
  background-color: #f35714;
  color: #fff;
  border-color: #ef2913f0;
}

.logout_div {
  text-align: center;
  margin: 40px auto;
  max-width: 80%;
}

.logout_div h1 a {
  background-color: #000000;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.logout_div h1 a:hover {
  background-color: #d32f2f;
}
.last_one {
  width: 500px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }
  .last_one {
    width: 300px;
  }
  .logout_div {
    max-width: 90%;
  }
}
